<div class="about-page">
  <h1 class="about-header"><i class="fas fa-user-graduate"></i> About Us</h1>
  <h4 class="about-paragraph">Müver was founded and created by four students attending Wyncode Academy as a final graduation project.</h4>
  <h4 class="about-paragraph2">We created Müver utilizing React and Ruby on Rails, Javascript, CSS, Bootstrap, HTML along with other technologies and services such as Github, Mapbox, Google Fonts, FontAwesome and various Ruby gems</h4>
  <h2 class="about-header-founders">Who are the Founders?</h2>
  <div class="about-founders">

    <div class="creator creator-brendan">
      <div class='creator-avatar'>
        <%= link_to root_path do %>
          <%= image_tag 'brendan.jpg', :class => 'brendan' %>
        <% end %>
      </div>
      <div class="name">Brendan McCue</div>
      <div class="github">
        <%= link_to ' BrenDave', 'https://github.com/BrenDave', class:'fab fa-github' %>
      </div>
    </div>

    <div class="creator creator-daniel">
      <div class='creator-avatar'>
        <%= link_to root_path do %>
          <%= image_tag 'daniel.jpg', :class => 'daniel' %>
        <% end %>
      </div>
      <div class="name">Daniel Silver</div>
      <div class="github">
        <%= link_to ' danielrsilver', 'https://github.com/danielrsilver', class:'fab fa-github' %>
      </div>
    </div>

    <div class="creator creator-pio">
      <div class='creator-avatar'>
        <%= link_to root_path do %>
          <%= image_tag 'pio.jpg', :class => 'pio' %>
        <% end %>
      </div>
      <div class="name">Pio Molina</div>
      <div class="github">
        <%= link_to ' vpio', 'https://github.com/vpio', class:'fab fa-github' %>
      </div>
    </div>

    <div class="creator creator-roxanne">
      <div class='creator-avatar'>
        <%= link_to root_path do %>
        <%= image_tag 'roxanne.jpg', :class => 'roxanne' %>
      </div>
      <% end %>
      <div class="name">Roxanne Awang</div>
      <div class="github">
        <%= link_to ' rox2018', 'https://github.com/rox2018', class:'fab fa-github' %>
      </div>
    </div>

  </div>
</div>
