<h1>Listings</h1>

<% @listings.each do |l| %>
  <div><%= l.description %></div>
  <% end %>

<%= form_with(model: @listing) do |form|%>
  <div class="form-group">
    <%= form.label(:description, "Listing Description:") %>
    <%= form.text_field(:description) %>
  </div>
  <div class="actions">
    <%= form.submit("Post") %>
  </div>
<% end %>
