<div class='my-listings'>
  <span><h1><i class="fas fa-box-open"></i> My Listings</h1></span>

<table class='table listings-table table-striped'>
  <% @listings.each do |l| %>
      <tr>
        <td class='row-data'>
          <%= link_to l.description, listing_path(l.id) %>
        </td>
        <td class="row-data">
          <%= link_to 'Update', edit_listing_path(l.id), class: 'btn btn-info float-right' %>
        </td>
        <td class="row-data">
          <%= link_to 'Delete', l, :method => :delete, :id => l.id, class: 'btn btn-danger float-right', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
</table>

  <hr>

  <div class='btn-group btn-light'>
    <%= link_to 'New Move', new_listing_path, :class => 'btn' %>
  </div>

  <div class="row">
    <div class="column">
    <%= image_tag "boxes.jpg", class: 'pics'%>
    </div>
    <div class="column">
    <%= image_tag "pink_blue.jpg", class: 'pics'%>
    </div>
  </div>
</div>
