<div class='show-page'>
  <h1><strong><%= @listing.city %>, <%= @listing.state %> to <%= @listing.ending_address %></strong></h1>

  <table class='table listings-table table-striped'>
    <tbody>
      <tr>
        <th class='row-name'scope='row'>Pick Up:</th>
        <td class='row-data'>
          <a href='http://maps.google.com/maps?q=<%= @listing.latitude %>,<%= @listing.longitude %>'><%= @listing.address %></a>
        </td>
      </tr>
      <tr>
        <th class='row-name 'scope='row'>Drop Off:</th>
        <td class='row-data '><%= @listing.ending_address %></td>
      </tr>
      <tr>
        <th class='row-name 'scope='row'>Price:</th>
        <td class='row-data '><%= number_to_currency(@listing.price) %></td>
      </tr>
      <tr>
        <th class='row-name 'scope='row'>Difficulty: </th>
        <td class='row-data '><%= @listing.difficulty %></td>
      </tr>
      <tr>
        <th class='row-name 'scope='row'>Date:</th>
        <td class='row-data '>
          <% unless @listing.date.length == 0 %>
          <%= DateTime.parse(@listing.date).strftime('%A, %B %-d, %Y') %>
          <% end %>
        </td>
      <tr>
        <th class='row-name 'scope='row'>Time:</th>
        <td class='row-data '>
          <% unless @listing.time.length == 0 %>
          <%= DateTime.parse(@listing.time).strftime('%-I:%M %p') %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class='row-name 'scope='row'>Stairs:</th>
        <td class='row-data '><%= @listing.stairs? ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
        <th class='row-name '>Max People:</th>
        <td class='row-data '><%= @listing.max_people %></td>
      </tr>
      <tr>
        <th class='row-name '>Additional Information:</th>
        <td class='row-data '><%= @listing.description %></td>
      </tr>
      <tr>
        <th class='row-name' scope='row'>Contact:</th>
        <td class='row-data'>
          <%= link_to "Send a message", user_messages_path(@listing.user_id), class:'btn btn-info' %>
        </td>
      </tr>
    </tbody>
  </table>

  <% if @listing.address.present? %>
  <div class='starting-location-map'>
    <%= react_component 'Map',
        props: {
          coordinates: [@listing.longitude, @listing.latitude],
          centerOnUser: false
        } %>

  </div>
    <% end %>
  <% if user_signed_in? %>
    <% if current_user.id != @listing.user.id %>
      <%= render 'proposals/form' %>
    <% end %>

    <% if current_user.id == @listing.user.id %>
      <div class='edit-listing-btn'>
        <%= link_to 'Edit Your Listing', edit_listing_path, class: 'btn btn-link' %>
      </div>
    <% end %>

  <% if current_user.id == @listing.user.id %>
    <% @proposals.each do |p| %>
    <div class='approval-message'>
      <%= react_component 'Proposal',
      props: {
               proposal: p,
               listing: @listing,
               user: p.user,
               notification: p.notification
             }
       %>
       <% if current_user.id == p.user_id %>
         <%= button_to "Delete this proposal", [@listing, p], method: :delete, class:'btn btn-danger ml-2' %>
       <% end %>
    </div>
      <% end %>
    <% else %>
      <% @proposals.each do |p| %>
        <% if current_user.id == p.user_id %>
          <h4>You have offered to help with this move.</h4>
          <%= button_to "Delete your proposal", [@listing, p], method: :delete, class:'btn btn-danger ml-2' %>
        <% end %>
      <% end %>
    <% end %>
    <% end %>


  <hr>

  <div class='btn-group btn-light back'>
    <%= link_to 'Back', guests_path, :class => 'btn' %>
  </div>
</div>
