<h1><%= @listing.description %></h1>

<div>
    <div>Starting Address: <%= @listing.starting_address %></div>
    <div>Ending Address: <%= @listing.ending_address %></div>
    <div>Price: <%= @listing.price %></div>
    <div>Difficulty: <%= @listing.difficulty %></div>
    <div>Date: <% unless @listing.date.length === 0 %>
      <%= DateTime.parse(@listing.date).strftime('%A, %B %-d, %Y') %>
      <% end %>
    </div>
    <div>Time: <% unless @listing.time.length === 0 %>
      <%= DateTime.parse(@listing.time).strftime('%-I:%M %p') %>
      <% end %>
    </div>
    <div>Contact: <%= @listing.contact %></div>
    <div>Stairs: <%= @listing.stairs %></div>
    <div>Max People: <%= @listing.max_people %></div>
</div>

<hr>

<% @proposals.each do |p| %>
<div><%= "#{p.user.email} wants to help you move! " %><%= link_to "View Profile", user_profile_path %></div>
<% end %>

<%= render 'proposals/form' %>

<hr>

<% if current_user.id == params[:id] %>
  <div>
    <%= link_to "Edit Your Listing!", edit_user_registration_path, class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Back", listings_path %>
