<h1><%= @listing.description %></h1>

<div>
    <div>Moving From: <a href='http://maps.google.com/maps?q=<%= @listing.latitude %>,<%= @listing.longitude %>'><%= @listing.address %></a>

    <div>Moving To: <%= @listing.ending_address %></a>

    <div>Price: <%= number_to_currency(@listing.price) %></div>
    <div>Difficulty: <%= @listing.difficulty %></div>
    <div>Date: <% unless @listing.date.length == 0 %>
      <%= DateTime.parse(@listing.date).strftime('%A, %B %-d, %Y') %>
      <% end %>
    </div>
    <div>Time: <% unless @listing.time.length == 0 %>
      <%= DateTime.parse(@listing.time).strftime('%-I:%M %p') %>
      <% end %>
    </div>
    <div>Contact: <%= @listing.contact %></div>
    <div>Stairs: <%= @listing.stairs? ? 'Yes' : 'No' %>
    </div>
    <div>Max People: <%= @listing.max_people %></div>
</div>

<% if user_signed_in? %>
  <% if current_user.id != @listing.user.id %>
    <%= render 'proposals/form' %>
    <hr>
  <% end %>

  <% if current_user.id == @listing.user.id %>
    <div>
      <%= link_to 'Edit Your Listing', edit_listing_path, class: 'btn btn-primary' %>
    </div>
    <hr>
  <% end %>
  <hr>

  <% @proposals.each do |p| %>
  <div><%= '#{p.user.first_name} wants to help you move! ' %><%= link_to 'View Profile', user_profile_path(:id => p.user.id) %></div>
  <% end %>

<% end %>

<hr>

<div class='btn-group btn-light back'>
  <%= link_to 'Back', guests_path, :class => 'btn' %>
</div>
