<span><h1><i class="fas fa-city"></i> My Jobs</h1></span>

<div class='job-requested'>
  <h3>Requested Jobs</h3>
  <div>Filler Job 1</div>
</div>

<div class='job-approved'>
  <h3>Approved Jobs</h3>
  <div>Filler Job 2</div>
</div>

<div class='job-completed'>
  <h3>Completed Jobs</h3>
  <div>Filler Job 3</div>
</div>

<hr>

<div class='btn-group btn-light back'>
  <%= link_to 'Find more Jobs', guests_path, :class => 'btn' %>
</div>

<div class="job-container">
<%= image_tag "image1.png", class: 'job_pic'%>
<%= image_tag "image2.png", class: 'job_pic'%>
<%= image_tag "keys.jpg", class: 'job_pic'%>
<%= image_tag "driver.jpg", class: 'job_pic'%>
</div>