<h1><%= "#{@user.first_name || @user.email}'s Profile" %></h1>

<div class='card border-primary mb-3 card-shadow' style='max-width: 18rem;'>
  <div class='card-header'><%= @user.email %></div>
    <%= image_tag @user.avatar, class: 'card-img-top' if @user.avatar.attached? %>
  </div>
  <div class='center-items'>
    <% if current_user.id == params[:id].to_i %>
    <div>
      <%= link_to 'Add Profile Picture', user_avatar_path, class: 'btn btn-primary mb-2' %>
    </div>
    <% end %>

    <% if current_user.id == params[:id].to_i %>
    <div>
      <%= link_to 'Edit Your Profile!', edit_user_registration_path, class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
